.navbar {
  background-color: rgb(68, 67, 67);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.link {
  padding: 1rem;
}

.container {
  background-image: linear-gradient(
      to right bottom,
      rgba(66, 198, 238, 0.493),
      rgba(0, 199, 116, 0.432)
    ),
    url(./images/hero.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'Kanit', sans-serif;
  padding-bottom: 20rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

.header {
  font-size: 4.5rem;
  font-weight: 600;
  text-align: center;
  color: rgb(44, 44, 44);
}

.contact-item {
  margin: 0 2rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  align-items: center;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid black;
  height: 28rem;
  margin: 1.5rem;
  box-sizing: border-box;
  background-color: rgb(60, 90, 104);
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.616);
}

.title {
  font-size: 2rem;
}

.pic {
  max-width: 13rem;
  max-height: 13rem;
  margin: 1rem;
}
