.container {
  background-image: linear-gradient(
      to right bottom,
      rgba(66, 198, 238, 0.493),
      rgba(0, 199, 116, 0.432)
    ),
    url(./images/hero.jpg);
  background-size: cover;
  height: 100%;
  width: 100vw;
  font-family: 'Kanit', sans-serif;
  padding: 1rem;
  padding-bottom: 20rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

.header {
  font-size: 4.5rem;
  text-align: center;
}

.contact {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: rgb(145, 3, 85);
  font-size: 1.7rem;
  width: 75%;
  margin: 0 auto;
}

.contact-item {
  margin: 0 2rem;
}

.contact a {
  color: rgb(145, 3, 85);
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  align-items: center;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid black;
  height: 28rem;
  margin: 1.5rem;
  box-sizing: border-box;
  background-color: rgb(0, 94, 138);
}

.title {
  font-size: 2rem;
}

.pic {
  max-width: 13rem;
  max-height: 13rem;
  margin: 1rem;
}
